/* ---------------------------------------------------------------------------------- */
/* -----------------------------------   HEADER   ----------------------------------- */
/* ---------------------------------------------------------------------------------- */
.header-color {
  background-color: #085feb;
}

/* ---------------------------------------------------------------------------------- */
/* -----------------------------------   FOOTER   ----------------------------------- */
/* ---------------------------------------------------------------------------------- */
.footer-color {
  background-color: #4d8bcd;
}

.footer__button {
  margin: 0rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
}

/* ---------------------------------------------------------------------------------- */
/* -----------------------------------   GLOBAL   ----------------------------------- */
/* ---------------------------------------------------------------------------------- */
.bg-lightblue-color {
  background-color: #4d8bcd;
}

.bg-gray-color {
  background-color: #7b7a7b;
}

.bg-lightgray-color, .prod_desc__card:hover {
  background-color: #d2d2d2;
}

.bg-darkgray-color, .prod_desc__card {
  background-color: #595759;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------------------   index.html   --------------------------------- */
/* ---------------------------------------------------------------------------------- */
.index__bg_image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.933)), to(rgba(5, 5, 5, 0.027))), url("../assets/images/banner.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.933), rgba(5, 5, 5, 0.027)), url("../assets/images/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
}

.card-img-top {
  width: 30%;
  height: 100%;
}

.index__button {
  margin: 1.3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.5rem;
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------   product_description.html   -------------------------- */
/* ---------------------------------------------------------------------------------- */
.prod_desc__card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------   galery.html   --------------------------------- */
/* ---------------------------------------------------------------------------------- */
.galery__img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.galery__img:hover {
  -webkit-filter: none;
          filter: none;
}

/* ---------------------------------------------------------------------------------- */
/* -------------------------------   about_dyt.html   ------------------------------- */
/* ---------------------------------------------------------------------------------- */
.about_dyt__img:hover {
  -webkit-animation: shakeX;
          animation: shakeX;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.about_dyt__button {
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */