$color: (
    header: rgb(8, 95, 235),
    footer: rgb(77, 139, 205),
    bg-lightblue: rgb(77, 139, 205),
    bg-gray: rgb(123, 122, 123),
    bg-darkgray: rgb(89, 87, 89),
    bg-lightgray: rgb(210, 210, 210)
);



