$color-header: rgb(8, 95, 235);
$color-footer: rgb(77, 139, 205);
$color-bg-lightblue: rgb(77, 139, 205);
$color-bg-gray: rgb(123, 122, 123);
$color-bg-darkgray: rgb(89, 87, 89);
$color-bg-lightgray: rgb(184, 177, 184);