@import "colors";
@import "mixins";

/* ---------------------------------------------------------------------------------- */
/* -----------------------------------   HEADER   ----------------------------------- */
/* ---------------------------------------------------------------------------------- */
 
.header-color {
    background-color: map-get($color, header);
}

/* ---------------------------------------------------------------------------------- */
/* -----------------------------------   FOOTER   ----------------------------------- */
/* ---------------------------------------------------------------------------------- */

.footer-color {
    background-color: map-get($color, footer);
}

.footer__button {
    @include btn-param(0rem, 2.5rem, 1rem);
}

/* ---------------------------------------------------------------------------------- */
/* -----------------------------------   GLOBAL   ----------------------------------- */
/* ---------------------------------------------------------------------------------- */

.bg-lightblue-color {
    background-color: map-get($color, bg-lightblue);
}

.bg-gray-color {
    background-color: map-get($color, bg-gray);
}

.bg-lightgray-color {
    background-color: map-get($color, bg-lightgray);
}

.bg-darkgray-color {
    background-color: map-get($color, bg-darkgray);
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------------------   index.html   --------------------------------- */
/* ---------------------------------------------------------------------------------- */

.index__bg_image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.933), rgba(5, 5, 5, 0.027)), url("../assets/images/banner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
}

.card-img-top {
    width: 30%;
    height: 100%;
}

.index__button {
    @include btn-param(1.3rem, 2.5rem, 1.5rem);
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------   product_description.html   -------------------------- */
/* ---------------------------------------------------------------------------------- */

.prod_desc__card {
    @extend .bg-darkgray-color;
    transition: 0.5s;

    &:hover {
        @extend .bg-lightgray-color;
    }
}

/* ---------------------------------------------------------------------------------- */
/* --------------------------------   galery.html   --------------------------------- */
/* ---------------------------------------------------------------------------------- */

.galery__img {
    filter: grayscale(1);
    transition: 0.5s;

    &:hover {
        filter: none;
    }
}

/* ---------------------------------------------------------------------------------- */
/* -------------------------------   about_dyt.html   ------------------------------- */
/* ---------------------------------------------------------------------------------- */

.about_dyt__img:hover {
    animation: shakeX;
    animation-duration: 2s; 
}

.about_dyt__button {
    @include btn-param(1rem, 2rem, 1.5rem);
}
